<div class="container">
  <div class="row">
    <div class="col-12">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let D of title">
          I love {{D}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let S of fruits">
          I love {{S}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let skill of skills">
          I love {{skill}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let x of names">
          I love {{x}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let a of flags">
          flagss {{a}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let SY of colors">
          colors {{SY}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let SN of cities">
          cities {{SN}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let sw of data">
          data {{sw}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let cv of isLoggedIn">
          isLoggedIn {{cv}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let con of countries">
          countries {{con}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let lang of languages">
          languages {{lang}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let sub of subjects">
          subjects {{sub}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let day of days">
          days {{day}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let car of cars">
          cars {{car}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let food of foods">
          foods {{food}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let drink of drinks">
          drinks {{drink}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let flower of flowers">
          flowers {{flower}}
        </li>
      </ul>
      <hr>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let planet of planets">
          planets {{planet}}
        </li>
      </ul>
      <hr>
      <ul class="class list-group">
        <li class="list-group-item" *ngFor="let browser of browsers">
          browsers {{browser}}
        </li>
      </ul>
      <hr>
      <ul class="class list-group">
        <li class="list-group-item" *ngFor="let company of companies">
          companies {{company}}
        </li>
      </ul>
      <hr>
      <ul class="class list-group">
        <li class="list-group-item" *ngFor="let hobby of hobbies">
          hobbies {{hobby}}
        </li>
      </ul>
      <hr>
      <ul class="class list-group">
        <li class="list-group-item" *ngFor="let movie of movies">
          movies {{movie}}
        </li>
      </ul>
      <hr>
      <ul class="class list-group">
        <li class="list-group-item" *ngFor="let device of devices">
          devices {{device}}
        </li>
      </ul>
      <hr>
       <ul class="class list-group">
        <li class="list-group-item" *ngFor="let book of books">
          books {{book}}
        </li>
      </ul>
      <hr>
       <ul class="class list-group">
        <li class="list-group-item" *ngFor="let season of seasons">
          seasons {{season}}
        </li>
      </ul>
      <hr>
      <ul class="class list-group">
        <li class="list-group-item" *ngFor="let browser of browsers">
          browsers {{browser}}
        </li>
      </ul>
      <hr>
    </div>
  </div>
</div>